@page "/"

<PageTitle>Index</PageTitle>
 
 <body>
 <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
       <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

    <ul class="uk-slideshow-items">
         <li>
            <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/601084241a0845744ce26c8a_6002086f72b7278ee601e2a1_athena-webflow.jpeg" alt="" uk-cover>
        </li>
        <li>
            <img src="https://analyticsindiamag.com/wp-content/uploads/2019/05/Latest-UI-UX-Trends-2018.jpg" alt="" uk-cover>
        </li> 
        <li>
            <img src="https://w10.naukri.com/mailers/2021/naukri-learning/oct/27oct/What-is-UI-UX-Design.jpg" alt="" uk-cover>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body"> <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
    <h3 class="uk-card-title">Welcome To Firstapppro </h3>
    <p>Let Use Our Technologies in Full Stack Mode. Thanks </p>
</div></div>
    </div>
     
</div>
  
 </body> 